@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat&family=Poppins:wght@500&family=Roboto:wght@300;400;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    list-style: none;
    text-decoration: none;
    border: none;
}

span{
    display: block;
}

body{
    background-image: url("../img/mobile/BG.png");
    background-repeat: no-repeat;
    background-position: top 0 left 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
nav, .login{
    display: none;
}

header{
    margin-top: 2.5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-img{
    order: 1;
    margin-top: 5.6rem;
}

.main-info{
    order: 2;
    margin-top: 4.1rem;
    width: 90%;
}

h1{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 7.2rem;
    line-height: 7rem;
    text-align: center;
    text-transform: uppercase;
    color: #3B668D;
}

.main-online{
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 150%;
    letter-spacing: 0.35em;
    text-align: center;
    text-transform: uppercase;
    color: #3B668D;
}

main hr{
    display: none;    
}

.main-info h3{
    margin-top: 3rem;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 156%;
    text-transform: uppercase;
    color: #3B668D;
}

.main-upload{
    margin-top: 1.3rem;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 156%;
    letter-spacing: 0.075em;
    color: #2B4964;
}

.main-btn{
    margin-top: 4.9rem;
}

/* SECTION ONE */

.sec-one-img,
.sec-one-info-items img{
    display: none;
}

.section-one{    
    background: url("../img/mobile/BG1.png");
    background-repeat: no-repeat;
    background-position: top 0 left 0;
    background-size: cover;    
}

.sec-one-info{
    margin-top: 14rem;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    gap: 3rem;
    margin-bottom: 15rem;
}

.sec-one-info-items-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sec-one-info-items h3{    
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: #000000;
}

.sec-one-info-items p{
    max-width: 34.7rem;
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    color: #FFFFFF;
}

/* SECTION TWO */

.section-two{
    margin-top: 9rem;
}

.section-two h2{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 7.2rem;
    line-height: 8.4rem;
    text-align: center;
    text-transform: uppercase;
    color: #3B668D;
}

.section-two p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.7rem;
    text-align: center;
    color: #79788F;
}

.sec-two-premium{
    margin-top: 5rem;
}

.sec-two-space{
    margin-top: 2rem;
}

.sec-two-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-two-item1,
.sec-two-item3{
    display: none;
}

.sec-two-item2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    background: url("../img/mobile/BG2.png");
    background-color: #FCFCFF;;
    background-repeat: no-repeat;
    background-position: top 0 left 0;
    width: 96%;
    border-radius: 2rem;
    box-shadow: 0 10px 5px #e0dede;
}

.sec-two-most{
    margin-top: 5.7rem;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #40BF3D;
}

.sec-two-days{
    margin-top: 1.4rem;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 4.8rem;
    text-align: center;
    color: #3B668D;
}

.sec-two-price{
    margin-top: 2.8rem;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 6.4rem;
    text-align: center;
    color: #8572FF;
}

.sec-two-line{
    margin-top: 5.1rem;
    background: #D3D3D3;
    border: none;
    width: 18.6rem;
    height: 1px;
}

.sec-two-cards-items ul{
    margin-top: 5.3rem;
    width: 29.7rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sec-two-cards-items li{
    display: flex;
    justify-content: space-between;
}

.sec-two-card-info span{
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 2rem;
    color: #567796;
}

.sec-two-btn{
    margin-top: 7rem;
    height: 5.5rem;
    width: 18.6rem;
    border-radius: 6.2rem;
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);

    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.sec-two-money-back{
    margin-top: 6.3rem;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 1.8rem;
    color: #567796;
    margin-bottom: 4.1rem;
}

/* SECTION THREE */

.section-three{
    margin-top: 13.8rem;
    display: flex;
    flex-direction: column;
    gap: 6.3rem
}

.section-three span{
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.2rem;
    color: #718DC2;
}

.sec-three-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.sec-three-item div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* FOOTER */

.footer-aboutus,
.footer-links{
    display: none;
}

footer{
    background: url("../img/mobile/BG3.png");
    background-repeat: no-repeat;
    background-position: top 0 left 0;
    margin-top: 7.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contactus h2{
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.4rem;
    color: #FFFFFF;
    margin-top: 50rem;
}

.footer-contactus p{
    margin-top: 7.3rem;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 2rem;
    line-height: 2;
    color: #FFFFFF;
}

.footer-line{
    margin-top: 8rem;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
}

.footer-copyright{
    width: 91%;
    margin-top: 4.7rem;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 4.3rem;
}

/* DESKTOP VERSION */

@media screen and (min-width: 1920px){
    body{
        background: url('../img/desktop/BG.png');
        background-repeat: no-repeat;
        background-position: top 0 left 0;
    }

    /* HEADER */
    header{
        width: 82%;
        margin-left: 18%;
    }
    
    .menu{
        display: none;
    }
    nav{
        display: flex;
        gap: 7rem;
    }

    nav a{
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: 2rem;
        color: #FFFFFF;
    }

    .login{
        display: flex;
        gap: 4rem;
        align-items: center;
        margin-right: 35rem;
    }

    .login a{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 1.3rem;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .login button{
        width: 13.2rem;
        height: 3.6rem;
        background: #FFFFFF;
        border-radius: 3rem;

        font-family: 'Poppins';
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.6rem;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #BB6DF3;
    }

            /* MAIN */

     main{
        flex-direction: row;
        width: 82%;
        margin-left: 18%;
        margin-top: 19rem;
     }
     
     .main-img{
        order: 2;
        width: 50%;
    }
    
    .main-info{
        order: 1;
        width: 50%;
    }

    h1{       
        text-align: left;
    }

    .main-online{
        text-align: left;
    }

    main hr{
        margin-top: 3.2rem;
        display: block;
        height: 2px;
        width: 50.6rem;
        background: #3B668D;
    }

    .main-info h3{
        margin-top: 4.5rem;
    }

    /* SECTION ONE */

    .section-one{
        margin-top: 23rem;
        background: #fff;
        display: flex;
        width: 100%;
        
    
    }

    .sec-one-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-image: url('../img/desktop/BG\ \(1\).png');
        background-repeat: no-repeat;
        background-position: top 0 left 0;
        background-size: cover;
        margin-bottom: -7rem;
    }

    .sec-one-info{
        width: 50%;
        margin: 0;
        gap: 4rem;
    }

    .sec-one-info-items img{
        display: block;
    }

    .sec-one-img-box{
        width: 7.5rem;
        height: 7.5rem;
        background: url('../img/desktop/bg7.png') no-repeat center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sec-one-info-items{
        display: flex;
        gap: 2.5rem;
    }

    .sec-one-info-items h3{
        font-size: 3.6rem;
        line-height: 6rem;
        color: #3B668D;
        max-width: 48.8rem;
    }

    .sec-one-info-items p{
        color: #2B4964;
    }

        /* SECTION TWO */

        .section-two{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: url('../img/desktop/BG\ \(2\).png');
            background-repeat: no-repeat;
            background-position: top 425px left 0;
        }
    .sec-two-item1,
    .sec-two-item3{
    display: block;
    }

    .sec-two-cards{
        width: 80%;
        flex-direction: row;
        gap: 2.5rem;
        margin-bottom: 25rem;
    }

    .sec-two-cards-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7rem;        
        width: 30%;
        border-radius: 2rem;        
    }

    .sec-two-item1{
        background: url("../img/desktop/BG\ \(3\).png");
        background-repeat: no-repeat;
        background-position: top 0 left 0;
    }

    
    .days1, .days3{
        margin-top: 18.2rem;
    }

    .sec-two-item3{
        background: url("../img/desktop/BG\ \(5\).png");
        background-repeat: no-repeat;
        background-position: top 0 left 0;
    }

    
}



